Proyectos_1º/XML/Entrenamientos_Basicos/factura.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="factura">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="cliente" type="xs:string" />
        
        <xs:element name="partidas">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="partida">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="producto" type="xs:string" />
                    <xs:element name="precioUnitario" type="xs:decimal" />
                    <xs:element name="cantidad" type="xs:integer" />
                    <xs:element name="precioTotal" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
      
      <xs:attribute name="numero" type="xs:integer" use="required" />
      <xs:attribute name="fecha" type="xs:date" use="required" />
      
    </xs:complexType>
  </xs:element>

</xs:schema>