Proyectos_1º/XML/clinica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="clinica">
    <xs:complexType>
      <xs:sequence>
      
        <xs:element name="paciente" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
            
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="fechaNacimiento" type="xs:date" />
              <xs:element name="direccion" type="xs:string" />
              <xs:element name="historiaClinica" type="xs:string" />
              
              <xs:element name="alergias" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="alergia" type="xs:string" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>